<phpunit
        bootstrap="tests/bootstrap.php"
        backupGlobals="false"
        colors="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
>

    <filter>
        <whitelist
                addUncoveredFilesFromWhitelist="true"
                processUncoveredFilesFromWhitelist="true">

            <directory suffix=".php">./inc/</directory>
        </whitelist>
    </filter>
    <testsuites>
        <testsuite name="selector">
            <!--<directory>./tests/test-generic.php</directory>-->
            <directory>./tests/test-replacer.php</directory>
            <!--<directory>./tests/test-lazyload.php</directory>-->
        </testsuite>
    </testsuites>
</phpunit>