
#optimole-app {
  padding: 0 30px 0 20px;


  $primary: #EF686B;
  $success: #5F9D61;
  $danger: #E77777;;
  $info: #577BF9;
  @import "~bulma/bulma";

  .optml-side-by-side {
    display : flex;
    flex-direction : row;
    position: relative;
  }
  .optml-padding {
    padding: 4%;
  }
  .subtitle strong {
    word-break: keep-all !important;
  }
  .optml-margin-left {
    margin-left: 2%;
  }
  .optml-fit-content {
    width: fit-content !important;
  }
  .optml-flex-column {
    flex-direction: column !important;
  }
  @keyframes spin {
    100% {  transform: rotate(-359deg); }
    0% { transform: rotate(0deg); }

  }
  .optml-spin {
    animation: spin 2s linear infinite;
  }
  .optml-media-progress-labels > label{
    margin: 2% 0 !important;
  }
  .optml-progress {
    background-color: white;
    height: 14px !important;
    border: 1px solid rgba(87, 123, 249, 0.36) !important;
    box-sizing: border-box !important;
    border-radius: 100px !important;
  }
  @media screen and (max-width: 768px) {
    div > .optml-button-page-position {
      margin: 0 0 1% 0;
      padding: 2% !important;
      right: 10%;
      position: relative !important;
      left: 1%;
    }
  }
  .optml-button-page-position {
    margin: 4%;
    padding: 4% !important;
    right: 10%;
  }
  .optml-filters-content {
    align-items: center;
  }
  .optml-filters-content > p {
    margin-bottom: 0 !important;
  }
  .optml-light-background.is-link {
    color: black !important;
    font-size: 14px !important;
    padding: 2%;
  }
  .exclusion-filter {
    margin-bottom: 5%;
  }
  .exclusion-filter > div > .tags > .tag > a {
    margin-left: auto;
    margin-bottom: 0 !important;
  }
  .exclusion-filter > div > .tags > .tag > p {
    font-size: 14px !important;
    margin-bottom: 0 !important;
  }
  .optml-text-input-border {
    border: 1px solid #D9D9D9;
    box-sizing: border-box;
    box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    height: 4ch;
    font-size: inherit !important;
  }
  .optml-textarea {
    left: 4%;
    position: relative;
    width: 12ch;
    text-align: center;
  }
  /* Chrome, Safari, Edge, Opera */
  .optml-textarea::-webkit-outer-spin-button,
  .optml-textarea::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  .optml-textarea[type=number] {
    -moz-appearance: textfield;
  }
  .vue-slider-rail {
    background-color: #EEF2FE;
    border-radius: 15px;
    transition: background-color 0.3s;
  }
  .optml-settings-desc-margin {
    margin-top:2%;
  }
  .optml-custom-label-margin {
    margin-bottom: 0 !important;
  }
  .optml-warning {
    background: #FFEBEB;
    border: 1px solid #EAB3B3;
    border-radius: 6px;
    color: #AF3535;
  }
  .optml-light-background {
    background: #EEF2FE !important;
    border: 1px solid #D9E7F0;
    box-sizing: border-box;
    border-radius: 6px;
  }
  .optml-gray {
    color: #626262;
  }
  .cdn-details > div {
    margin: 2% 0 5% 0;
  }
  .upgrade > li {
    margin: 4% 0 4% 0;
  }
  .optml-circle {
    /* Frame 1 */
    position: absolute;
    width: 57px;
    height: 57px;
    left: 14.7px;
    top: 21px;
    border-radius: 999px;
    /* Ellipse 3 */
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #B5B5B5;
  }
  .optml-center-table-text {
    left: 3%;
    position: relative;
    top: -5px;
  }
  .optml-point {
    /* Ellipse 4 */

    position: relative;
    width: 8px;
    height: 8px;

    border-radius: 4px;

    /* connected */
    background: #6D955A;
  }
  .button {
    border-radius: 6px !important;
  }
  .button:focus {
    color: white;
    box-shadow: none !important;
    border-color: #0071AE;
  }
  .optml-font-size-medium {
    font-size: 16px !important;
  }
  .optml-button-style-1 {
    border-radius: 6px;
    background-color: #577BF9;
    border-color: #577BF9;
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-weight: bold !important;
    color: white;
  }
  .optml-button-style-2 {
    border: 2px solid #577BF9;
    border-radius: 6px !important;
    font-size: 13px;
    padding: 7px 10px !important;
    height: auto !important;
    min-height: auto !important;
  }
  .optml-button-style-1:hover {
    color: white !important;
  }
  .optml-button {
    position: absolute;
    background-color: transparent;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    color: #577BF9;
    font-weight: bold !important;
    padding: 0.4%;
    /* opt/accent 1 */
    border: 2px solid #577BF9;
    border-radius: 6px;
  }
  .optml-button-px-padding {
    padding: 9px 20px !important;
  }
  .optml-line-height {
    line-height: 1.5em;
  }
  .optml-button:not([disabled]):hover {
    cursor: pointer;
  }
  a.optml-button:hover {
    cursor: pointer;
    color: #577BF9;
  }
  .optml-button-style-2:hover {
    border-color: #577BF9;
    color: #577BF9;
  }
  .optml-restore-notice-background {
    background: #FFF0C9;
    border: 1px solid #E3D5AF;
    box-sizing: border-box;
    border-radius: 6px;
    cursor: default;
  }
  .optml-fill-container {
    width: 100%;
  }
  .optml-sublist > li > a:focus {
    box-shadow: none !important;
    outline: none !important;
  }
  .optml-sublist > li {
    margin: 2px 0;
  }
  .select:not(.is-multiple):not(.is-loading)::after{
    display: none;
  }
  .card {
    transition: all 750ms ease-in-out;
    border: 0;
    border-radius: .1875rem;
    -webkit-box-shadow: 0 1px 15px 1px rgba(39, 39, 39, .1);
    box-shadow: 0 1px 15px 1px rgba(39, 39, 39, .1);
  }

  .logo {
    margin-bottom: 10px;
    img {
      max-width: 180px;
      margin: 0 auto;
    }
  }
  .vue-js-switch {
    align-self: center;
  }
  .api-key-control {
    padding: 0;
  }
  .is-vertical-center {
    display: flex;
    align-items: center;
  }
  .optml-is-horizontal-center {
    display: flex;
    justify-content: center;
  }

  .api-key-field .button.is-danger {
    padding-left: 20px;
    padding-right: 20px;
  }

  .api-key-label {
    align-self: center;
    margin: 0.5em 10px 0.5em 0;
    font-size: 1em;
  }
  .header {
    padding: 0 1.5rem 0;
    &.level {
      margin-bottom: 0;
    }
  }
  .account {
    img {
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
    }
    .label {
      margin-bottom: 0;
    }
  }

  //Optimized images.
  .optimized-images {

    table td, table th {
      vertical-align: middle;
    }
  }
  .media-diff {
    position: relative;
    margin: 0 auto;
    video, img {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  .origin-wrapper {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 1;
    transform: translateZ(0);
    will-change: width;
  }

  .handle {
    position: absolute;
    top: 0;
    bottom: 0;
    color: rgba(255, 255, 255, 0.80);
    background-color: rgba(255, 255, 255, 0.80);;
    width: 2px;
    cursor: ew-resize;
    transform: translateX(-50%) translateZ(0);
    z-index: 2;
    will-change: left;
    left: 200px;
  }

  .cursor {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateZ(0);
    .circle {
      background-color: rgba(255, 255, 255, 0.80);
      width: 24px;
      height: 24px;
      border-radius: 50%;
    }
  }
  .no-padding-right{
    padding-right:0px !important;
  }
  #filters-list .list {
    border: none;
    background: none;
    box-shadow: none;
  }

  #filters-list .list-item {
    border: none;
  }

  #filters-list .exclusion-filter .tag.is-link strong {
    white-space: initial;
  }

  #filters-list .exclusion-filter .tag.is-link i {
    margin-right: 5px;
  }
  .optml-position-relative {
    position: relative !important;
  }

  #filters-list .exclusion-filter .tag.is-link {
    text-decoration: none;
    width: 100%;
    height: auto;
    min-height: 2em;
    justify-content: left;
  }
}

//Fade animation.
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}

.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */
{
  opacity: 0;
}

.media_page_optimole #wpbody-content > * {
  display: none !important;
}

.media_page_optimole #wpbody-content > #optimole-app {
  display: block !important;
}

#optimole-app img.optml-image {
  float: left;
  max-width: 140px;
  max-height: 140px;
  border-radius: 4px;
  left: 10%;
  position: relative;
  width: auto;
  margin: auto;
  border: 1px solid #D7D7D7;
}
#optimole-app img.optml-image-watermark {
  width:50px;
}

.optml-ratio-feedback .emoji {
  font-size: 1.5em;
}


.optml-ratio-feedback {
  float: right;
  padding-right: 20px;
}
.optml-image-heading {
  text-align: left;
}

th.optml-image-ratio-heading {
  text-align: right !important;
  font-size: 150%;
}
@media screen and (max-width: 1460px) {
  .optml-hide-on-tablet {
    visibility: hidden;
    position:  absolute;
  }
}

@media screen and (max-width: 768px) {
  .optml-hide-on-mobile {
    visibility: hidden;
    position:  absolute;
  }

  nav.tabs li:not(.is-active) {
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 1;
    flex-shrink: 1;
  }
  .tabs .icon {
    margin-left: 0.5em;
  }
}

.tabs li {
  transition: flex-grow 1s ease;
}
