// @import 'tailwindcss/base'; // <-- Uncomment this line if you import base styles.
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

#wpcontent {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

#optimole-app {
	$primary: #EF686B;
	$success: #5F9D61;
	$danger: #E77777;
	$info: #577BF9;
	$light-blue: #EEF2FE;
	$dark-blue: #3557A6;
	$purple-gray: #757296;

	a {
		text-decoration: none;
	}

	.base-control-label {
		color: #363636;
		display: block;
		font-size: 1.25rem;
		text-transform: none;
		font-weight: 700;
		margin-bottom: 12px;
	}  

	.optml {
		&__input {
			.components-base-control__field {
				display: flex;
				flex-direction: column;
				margin-bottom: 0;
			}

			.components-base-control__label {
				@extend .base-control-label;
			}
	
			.components-text-control__input {
				border: 1px solid #D9D9D9;
				box-shadow: inset 0 1px 2px rgba(10,10,10,0.1);
				min-height: 40px;
	
				&:focus {
					box-shadow: inset 0 0 0 1px var(--wp-components-color-background,#fff),0 0 0 var(--wp-admin-border-width-focus) var(--wp-components-color-accent,var(--wp-admin-theme-color,#007cba));
				}
			}
		}

		&__button {
			&.is-primary {
				background-color: $info;
			}
	
			&.is-secondary {
				color: #fff;
				box-shadow: none;
				background-color: $purple-gray;
	
				&:focus {
					box-shadow: inset 0 0 0 1px var(--wp-components-color-background,#fff),0 0 0 var(--wp-admin-border-width-focus) var(--wp-components-color-accent,var(--wp-admin-theme-color,#007cba));
				}
			}
	
			&.is-busy {
				background-image: linear-gradient(-45deg, $info 33%, $dark-blue 0, $dark-blue 70%, $info 0);
			}
		}
	}

	.optml-connect {
		.dashicon {
			color: #577BF9;
		}
	}
}